################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreHelloForm/.vs/CoreHelloForm/DesignTimeBuild/.dtbcache
/CoreHelloForm/.vs/CoreHelloForm/v16/Server/sqlite3
